# Ansible managed
{{ fp_hosts_localhost_ipv6 }}	localhost localhost.{{ fp_domain }}
{{ fp_hosts_localhost_ipv4 }}	localhost localhost.{{ fp_domain }}

{% for item in fp_hosts_conf %}
{% if item.hostname is defined %}
{{ item.ip }}    {{ item.fqdn }}{% for alias in item.aliases|default([]) %} {{ alias }}{% endfor %} {{ item.hostname }}
{% else %}
{{ item.ip }}    {{ item.fqdn }}{% for alias in item.aliases|default([]) %} {{ alias }}{% endfor %}

{% endif %}
{% endfor %}

# EOF
